*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: "Averia Libre", sans-serif;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background-color: #372775;
}

.rootcoleta {
    padding: 13px 24px;
    height: 100vh;
    border: none;
}

.sair{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: nowrap;
    font-family: "Averia Libre";
    color: #3F92C5;
    font-size: 20px;
    text-decoration-line: underline;
    height: 40px;
    float: right;
    padding: 5px;
    margin: 10px 5px;
}

.meio{
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-evenly;
    align-items: center;
    font-family: "Averia Libre", sans-serif;
    width: 100%;
    height: 40%;
}

.corbranca{
    color:#ffff;
    font-size: 48px;
}

.reacao{
    color:#ffff;
    font-size: 36px;
}

.corverde{
    color:#37BD6D;
}

.corverde2{
    color:#25BC22;
}

.corvermelha{
    color:#ff0000
}

.corlaranja{
    color: #FF360A
}

.coramarela{
    color: #FFC632;
}

.corvermelhoescura{
    color: #D71616;
}

.emojis{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    align-content: stretch;
    width: 100%;
    height: auto;
    font-size: 28px;
    gap: 15px;
    border-radius: 10px;
    padding-top: 5px;
}

.containers{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    align-content: stretch;
    width: 100%;
    height: auto;
    gap: 10px;
    margin: 5px;
    border-radius: 10px;
    padding-top: 10px;
}

@media (max-width: 500px){
    .emojis{
        display: flex;
        flex-direction: column;
        font-size: 22px;
    }

    .containers{
        margin: 5px 20px;
        padding-top: 3px;
        width: 60%;
    }

    .meio{
        padding: 0;
        height: 20%;
    }
    .corbranca{
        font-size: 39px;
    }

    .reacao{
        font-size: 30px;
    }

    .sair{
        font-size: 22px;
        margin-bottom: 0;
    }
}