  *{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  body {
  font-family: "Averia Libre", sans-serif; 
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  background-color: #372775;
  }

   .roothome{
    padding: 13px 24px;
    height: 100vh;    
    border: none;  
    }

    .container{
      margin: 10px;
    }
    
    .divpesquisa{ 
    border: none; 
    height: 30%; 
    } 

    #pesquisa{
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
    height: 35px;
    border-radius: 1px;
    border: none;
    margin-top: 15px;
    color: #8B8B8B;
    font-family: "Averia Libre";
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    padding-left: 30px;
    background-image: url(/Assets/images/iconPesquisa.png);
    background-size: 20px;
    background-repeat: no-repeat;
    background-position: 5px center;
}
    

    #txtBusca{
    float:left;
    background-color: rgb(255, 255, 255);
    padding-left:400px;
    border:none;
    height:36px;
    width:900px;
    }

  .button{
   background-color: #49B976;
   font-family: "Averia Libre";
   font-size: 20px;
   color: #fff;
   text-align: center;
   border: none;
   border-radius: 10px;
   margin-left: auto;
   cursor: pointer;
   width: 154px;
   height: 40px;
   float: right;
   margin-top: 5px;
   margin-right: 10px;
  }

  .sair {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: nowrap;
    font-family: "Averia Libre";
    color: #3F92C5;
    font-size: 22px;
    text-decoration-line: underline;
    height: 40px;
    float: right;
    margin-top: 5px;
    padding-left: 10px;
}

  .meio{
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: flex-start;
    align-items: center;
    gap: 30px;
    align-content: stretch;
    padding: 10px;
    width: 100%;
    height: 50%;
  }

  .c1 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    align-content: stretch;
    background-color: #ffffff;
    font-family: Averia Libre;
    color: #3F92C5;
    font-size: 23px;
    font-style: normal;
    font-weight: 400;
    width: 100%;
    height: auto;
    margin: 5px 0;
    border-radius: 10px;
    padding: 60px;
}

.c1 p {
  color: #8B8B8B;
  text-align: center;
  font-family: "Averia Libre", sans-serif;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
}

  .iconc1{
    color: #000;
  }

  .iconc1:hover{
    color: #372775;
  }

  .input-icons i {
    position: absolute;
}
 
.input-icons {
    width: 100%;
    margin-bottom: 10px;
}
 
.icon {
    padding: 10px;
    min-width: 40px;
}
 
.input-field {
    width: 100%;
    padding: 10px;
    text-align: left;
}