*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
    font-family: "Averia Libre", sans-serif; 
    background-color: #372775;
    display: flex;
    flex-direction: column;
    align-items: center;
    min-height: 100vh;
  }
   
header{
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    padding: 20px 20px 5px;
}

.botoes{
  display: flex;
  align-items: flex-start;
  position: relative;
  top: 9px;
}

.apagar{
  text-align: center;
  margin-top: 0 auto;
}

.apagar img{
  display: block;
  margin: 0 auto;
}

.apagar span{
  margin-top: 0px;
  color: #f57f7f;
  font-size: 14px;
  font-family: "Averia Libre", sans-serif;
  text-align: center;
}

#sair{
  color: #3F92C5;
  font-size: 20px;
  text-decoration-line: underline;
  margin-top: 0;
}

 main{
  border: 1px solid #737373;
  border-radius: 15px;
  width: 500px;
  height: 509px;
  padding: 20px;
  margin-top: 10px;
 }

 main h1{
  color: #ffffff;
  font-size: 24px;
  margin-top: 18px;
  margin-bottom: 18px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
 }

.formulario{
  position: relative;
  top: 20px;
}

 .form-group{
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  margin-bottom: 10px;
 }

 .form-label{
  color: #ffffff;
  font-size: 20px;
  margin-bottom: 5px;
 }

 .form-select{
  color: #000000;
  font-size: 20px;
  margin-bottom: 5px;
 }

 .form-input{
  width: 100%;
  height: 39px;
  border: 1px solid #ccc;
  font-family: Averia Libre;
  color: #3F92C5;
  font-size: 18px;
  padding: 9px;
 }

 .form-input::placeholder{
  color: #3F92C5;
 }

 .caixa{
  width: 70%;
 }

 .form-group img{
  width: 129px;
  height: 129px;
  margin-top: 5px;
 }

 .style-file{
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: space-between;
  width: 100%;
 }

 .input-file-invisivel{
  display: none;
 }

 .btn-escolher{
  background-color: #88928c;
  color: #fff;
  text-align: center;
  line-height: 30px;
  padding: 5px;
  cursor: pointer;
 }

 .btn-criar{
  display: flex;
  justify-content: flex-end;
  position: relative;
  bottom: 25px;
 }

 .btn-criar button{
  font-family: "Averia Libre", sans-serif;
  background-color: #49B976;
  color: #fff;
  border: none;
  border-radius: 10px;
  width: 134px;
  height: 40px;
  font-size: 18px;
 }

 /* Estilo do popup*/
 .container-popup {
  display: none;  /* torna o popup invisivel*/
  width: 100%;
  height: 100%;
  padding: 171px 47px;
  justify-content: center;
  align-items: center;
  position: fixed;
  top: 0;
  z-index: 999;
  background-color: rgba(0, 0, 0, 0.5);
}

.container-popup:target{
  display: flex;
}
/* fecha o popup*/
#popupAtivo:target{
  display: block;
}

.popup {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: fixed;
  left: 50%; /*centraliza horizontalmente*/
  transform: translateX(-50%); /*alinha ao centro horizontalmente*/
  min-height: 150px;
  padding: 30px;
  background-color: #2B1F5C;
  color: #ffffff;
  font-family: "Averia Libre";
}

.popup span{
  font-size: 28px;
  text-align: center;
  font-weight: 400;
  width: 403px;
  height: 73px;
}

.btn-popup{
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  height: 70px;
  margin-top: 15px;
}

.btn-popup button{
  color: #ffffff;
  font-family: "Averia Libre";
  font-size: 30px;
  font-weight: 400;
  border: none;
  width: 150px;
  height: 55px;
  cursor: pointer;
}

.btn-Sim{
  background-color: #FF8383;
}

.btn-Nao{
  background-color: #3F92C5;
}